/* Media Queries */


@media (max-width: 470px){

.img_servicios {width: 30%;}
.nosotros_main {margin-top: 10em;}
.contacto_mapa {margin-top: 10.5em;}
}


@media (max-width: 767px){
.info {
	display: none;}

.logotipo {
	width: 60%}

.servicios_fondo {
	margin-top: 10.8em;
	background-position: 75%;}
}


@media (max-width: 991px){
.convenios_main__textos {padding: 4em; margin-top: 2em; margin-bottom: 1em;}
}

@media (min-width: 767px) and (max-width: 991px){
.imagen_nosotros_home {
    background-position: 0% 95%;
    }
.nosotros_main {
    background-position: 0% 0%;
    }
}

